.archives {
	color: #61CDF5;
	display: block;
	width: 100%;
	float:left;
}

.archives a {
	color: #333;
	text-decoration: none!important;
}
.archives a:hover {
	color: #61CDF5;
}
.archives ul {
	margin:0;
	padding: 0;
	border-left: 4px solid #cacaca;
	padding-bottom: 10px;
}

.archives li {
	padding-bottom: 0.25em;
	font-size: 16px;
	list-style: url(images/marker.png) inside;
	padding: 0;
	margin: 0;
}
.archives h3{
	font-family: sans-serif;
	border: none;
	color: #61CDF5;
	font-size: 20px;
	line-height: 28px; 
	margin-bottom: 10px;
	font-weight: normal;
}

.archive_year {
	float:left; 
	width:25%;
}
